.yarn/**/*.*

backend/dist

frontend/.next
frontend/dist

gql/generated.ts
gql/schema.graphql

tooling/schema.graphql

infrastructure/hasura/metadata/**/*.yaml

desktop/dist/**/*.*
desktop/dist-staging/**/*.*
desktop/dist-production/**/*.*

hooks/dist
