:3000

handle_path /graphql {
	rewrite * /v1/graphql
	reverse_proxy {$HASURA_HOST}
}

handle_path /api/backend/* {
	rewrite * /api{path}
	reverse_proxy {$BACKEND_HOST}
}

handle_path /api/auth/* {
	rewrite * /api/auth/{path}
	reverse_proxy {$BACKEND_HOST}
}

handle_path /api/e2e/* {
	rewrite * /api/e2e{path}
	reverse_proxy {$BACKEND_HOST}
}

handle_path /api/backend/healthz {
	rewrite * /healthz
	reverse_proxy {$BACKEND_HOST}
}

handle_path /attachments/* {
	rewrite * /attachments{path}
	reverse_proxy {$BACKEND_HOST}
}

handle /sentry-tunnel {
	reverse_proxy {$BACKEND_HOST}
}

@return-to-app {
	path /app/return-to-app
	header_regexp login Cookie next-auth.session-token=(\S+)
}
handle @return-to-app {
	redir "acapela://authorize/{re.login.1}"
}

handle {
	root * /var/www/frontend
	file_server
	try_files {path} /index.html
}

log {
	level ERROR
}
