:3000

handle_path /graphql {
	rewrite * /v1/graphql
	reverse_proxy {$HASURA_HOST}
}

handle_path /api/backend/* {
	rewrite * /api{path}
	reverse_proxy {$BACKEND_HOST}
}

handle_path /api/auth/* {
	rewrite * /api/auth/{path}
	reverse_proxy {$BACKEND_HOST}
}

handle_path /api/backend/healthz {
	rewrite * /healthz
	reverse_proxy {$BACKEND_HOST}
}

handle_path /attachments/* {
	rewrite * /attachments{path}
	reverse_proxy {$BACKEND_HOST}
}

handle /sentry-tunnel {
	reverse_proxy {$BACKEND_HOST}
}

@return-to-app {
	path /app/return-to-app
	header_regexp login Cookie next-auth.session-token=(\S+)
}
handle @return-to-app {
	redir "acapela://authorize/{re.login.1}"
}

handle_path /api/hooks/healthz {
	rewrite * /healthz
	reverse_proxy {$HOOKS_HOST}
}

############################################
# webhooks are routed to the hooks service #
############################################

handle_path /api/backend/v1/linear/webhook {
	rewrite * /linear
	reverse_proxy {$HOOKS_HOST}
}

handle_path /api/backend/v1/github/webhook {
	rewrite * /github
	reverse_proxy {$HOOKS_HOST}
}

handle_path /api/backend/v1/asana/webhook/* {
	rewrite * /asana{path}
	reverse_proxy {$HOOKS_HOST}
}

handle_path /api/backend/v1/clickup/webhook/* {
	rewrite * /clickup{path}
	reverse_proxy {$HOOKS_HOST}
}

# disabled for now
#handle_path /api/backend/v1/atlassian/webhooks {
#	rewrite * /atlassian
#	reverse_proxy {$HOOKS_HOST}
#}

# disabled for now
#handle_path /api/backend/slack/events {
#	rewrite * /slack/events
#	reverse_proxy {$HOOKS_HOST}
#}


handle {
	root * /var/www/frontend
	file_server
	try_files {path} /index.html
}

log {
	level ERROR
}
