apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: test
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      serviceAccountName: gsm
      containers:
      - name: caddy
        image: eu.gcr.io/meetnomoreapp/caddy:3.105.3
        ports:
        - containerPort: 3000
        envFrom:
        - configMapRef:
            name: frontend-default
        env:
        - name: FRONTEND_HOST
          value: "localhost:3030"
        livenessProbe:
          httpGet:
            port: 3000
            path: /healthz
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            port: 3000
            path: /healthz
          initialDelaySeconds: 10
          periodSeconds: 5
          successThreshold: 3
          timeoutSeconds: 5
      - name: cloudsql-proxy
        image: gcr.io/cloudsql-docker/gce-proxy:1.19.2
        command: ["/cloud_sql_proxy", "-ip_address_types=PRIVATE", "-instances=meetnomoreapp:europe-west1:$(CLOUDSQL_INSTANCE_NAME)=tcp:5432"]
        envFrom:
        - configMapRef:
            name: frontend-default
        securityContext:
          allowPrivilegeEscalation: false
          runAsUser: 2 # non-root user
      - name: frontend
        image: eu.gcr.io/meetnomoreapp/monorepo:3.105.3
        command: ["yarn", "run", "start:frontend"]
        envFrom:
        - configMapRef:
            name: frontend-default
        env:
        - name: PORT
          value: "3030"
        - name: FRONTEND_PORT
          value: "3030"
        livenessProbe:
          httpGet:
            port: 3030
            path: /
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 15
        readinessProbe:
          httpGet:
            port: 3030
            path: /
          initialDelaySeconds: 5
          periodSeconds: 5
          successThreshold: 3
          timeoutSeconds: 15
